.button {
  width: 340px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;

  &:hover {
    background-color: $color-orange;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 0;
  }

  @media (max-width: $tablet-max-width) {
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin: 0 auto;
    width: 250px;
  }
}

// .promo__wrapper-button {
//   position: relative;
// }


.button__link {
  position: relative;
  display: block;
  padding: 30px 40px;
  padding-right: 10px;
  color: $color-white;
  background-color: $color-coral;

  @media (max-width: $tablet-max-width) {
    padding-top: 19px;
    padding-right: 20px;
    padding-bottom: 19px;
    padding-left: 40px;
  }
}

.button__icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: none;
}
