.button {
  display: block;
  padding: 30px 40px;
  width: 340px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-white;
  background-color: $color-coral;
}
