.button {
  width: 340px;

  @media (max-width: $mobile-max-width) {
    width: 288px;
    padding: 0;
  }

  @media (max-width: $tablet-max-width) {
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin: 0 auto;
    width: 250px;
  }
}

.button__link {
  position: relative;
  display: block;
  padding: 30px 39px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-coral;

  &:hover {
    background-color: $color-orange;
  }

  @media (max-width: $tablet-max-width) {
    font-weight: 500;
    padding-top: 19px;
    padding-right: 20px;
    padding-bottom: 19px;
    padding-left: 40px;
  }

  &--promo {
    position: relative;
    padding-right: 60px;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      top: 31px;
      right: 39px;
      width: 14px;
      height: 16px;
      background: url("../../img/icon-arrow-down.svg") no-repeat;

      @media (max-width: $tablet-max-width) {
        top: 19px;
        right: 41px;
      }
    }
  }

  &--modal {
    margin: 0 auto;
    padding: 18px 40px;
    width: 176px;
    border: none;

    @media (max-width: $tablet-max-width) {
      width: 250px;
    }
  }

  &--popup {
    width: 176px;

    @media (max-width: $mobile-max-width) {
      width: 100%;
    }
  }
}

.button__icon {
  position: absolute;
  top: 0;
  right: 0;
  fill: none;
}
