.countries {
  max-width: $desktop-width;
  margin: 0 auto;
  padding-bottom: 530px;
  background: url("../../img/europe-map-desktop@1x.png") no-repeat 238px 130px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../../img/europe-map-desktop@2x.png");
  }

  @media (max-width: $tablet-max-width) {
    padding-bottom: 0;
    background: none;
  }
}

.countries__name-list,
.countries__description-list {
  @include reset-list;
}

.countries__name-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.42px;
  color: rgba($color-granite, 0.3);
  border-bottom: 1px solid rgba($color-granite, 0.3);

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 26px;
  }

  @media (max-width: $tablet-max-width) {
    flex-wrap: nowrap;
  }
}

.countries__name-item {
  &:not(:last-child) {
    margin-right: 99px;
  }
}

.countries__description-item {
  position: relative;
  display: none;
  // margin: 0 375px;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 631px;
    width: 430px;
    height: 596px;

    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }

  &--greece::after {
    background: url("../../img/greece-review-desktop@1x.jpg") no-repeat #b3cfe9;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/greece-review-desktop@2x.jpg");
    }
  }

  &--albania::after {
    background: url("../../img/albania-review-desktop@1x.jpg") no-repeat #14999c;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/albania-review-desktop@2x.jpg");
    }
  }

  &--macedonia::after {
    background: url("../../img/macedonia-review-desktop@1x.jpg") no-repeat #a8d3da;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/macedonia-review-desktop@2x.jpg");
    }
  }

  &--montenegro::after {
    background: url("../../img/montenegro-review-desktop@1x.jpg") no-repeat #97c654;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/montenegro-review-desktop@2x.jpg");
    }
  }

  &--croatia::after {
    background: url("../../img/croatia-review-desktop@1x.jpg") no-repeat #7b6b62;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/croatia-review-desktop@2x.jpg");
    }
  }

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
  }
}

.countries__description-wrapper {
  width: 425px;
  margin-left: 375px;
  padding-right: 54px;

  @media (max-width: $tablet-max-width) {
    width: 100%;
    margin-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0 16px;
    padding-bottom: 47px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding: 0 21px;
    padding-bottom: 30px;
  }
}

.countries__name {
  @include reset-indent;
  position: relative;
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.24px;

  &::after {
    content: "";
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 175px;
    border: 1px solid $color-coral;

    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-max-width) {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-bottom: 26px;
  }
}

.countries__description {
  @include reset-indent;
  padding-bottom: 49px;
  letter-spacing: -0.46px;
  color: rgba($color-granite, 0.7);

  @media (max-width: $tablet-max-width) {
    padding-bottom: 13px;
    text-align: center;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 14px;
  }
}

.countries__button {
  width: 250px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
  // @media (max-width: $tablet-max-width) {
  //   max-width: 100%;
  // }
}

.countries__wrapper-reviews {
  display: flex;
  margin-right: 360px;
  z-index: 1;

  @media (max-width: $mobile-max-width) {
    margin-right: 0;
    padding-top: 54px;

    &--greece {
      background: url("../../img/greece-review-mobile@1x.jpg") no-repeat #b3cfe9;
      background-size: cover;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/greece-review-mobile@2x.jpg");
    }

    &--albania {
      background: url("../../img/albania-review-mobile@1x.jpg") no-repeat #14999c;
      background-size: cover;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/albania-review-mobile@2x.jpg");
      }
    }

    &--macedonia {
      background: url("../../img/macedonia-review-mobile@1x.jpg") no-repeat #a8d3da;
      background-size: cover;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/macedonia-review-mobile@2x.jpg");
      }
    }

    &--montenegro {
      background: url("../../img/montenegro-review-mobile@1x.jpg") no-repeat #97c654;
      background-size: cover;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/montenegro-review-mobile@2x.jpg");
      }
    }

    &--croatia {
      background: url("../../img/croatia-review-mobile@1x.jpg") no-repeat #7b6b62;
      background-size: cover;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/croatia-review-mobile@2x.jpg");
      }
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    margin-right: 0;
    padding-top: 78px;

    &--greece {
      background: url("../../img/greece-review-tablet@1x.jpg") no-repeat #b3cfe9;
      background-size: cover;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/greece-review-tablet@2x.jpg");
    }

    &--albania {
      background: url("../../img/albania-review-tablet@1x.jpg") no-repeat #14999c;
      background-size: cover;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/albania-review-tablet@2x.jpg");
      }
    }

    &--macedonia {
      background: url("../../img/macedonia-review-tablet@1x.jpg") no-repeat #a8d3da;
      background-size: cover;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/macedonia-review-tablet@2x.jpg");
      }
    }

    &--montenegro {
      background: url("../../img/montenegro-review-tablet@1x.jpg") no-repeat #97c654;
      background-size: cover;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/montenegro-review-tablet@2x.jpg");
      }
    }

    &--croatia {
      background: url("../../img/croatia-review-tablet@1x.jpg") no-repeat #7b6b62;
      background-size: cover;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../../img/croatia-review-tablet@2x.jpg");
      }
    }
  }

  // @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
  //   padding-top: 78px;
  // }

  // @media (max-width: $mobile-max-width) {
  //   padding-top: 54px;
  // }
}

.countries__reviews {
  margin: 0 auto;
}

.countries__name-item--active {
  color: $color-coral;
  cursor: pointer;
}

// .countries__description-item {
//   display: none;
// }

.countries__description-item--show {
  display: flex;
}
