.promo {
  color: $color-white;
}

.promo__title {
  @include reset-indent;
  padding-bottom: 30px;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1px;
}

.promo__description {
  @include reset-indent;
  max-width: 380px;
  padding-bottom: 31px;
  letter-spacing: -0.47px;
}

// .promo__button {
//   // padding: 30px 40px;
//   // background-color: $color-coral;
// }
