.promo {
  padding-top: 184px;
  padding-bottom: 295px;
  color: $color-white;
  background: url("../../img/greece-background-desktop@1x.jpg") no-repeat #92b3dc;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/greece-background-desktop@2x.jpg");
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 0;
    padding-bottom: 100px;
    background: none;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-top: 60px;
    padding-bottom: 83px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 412px;
  margin-right: 433px;
  margin-left: auto;

  @media (max-width: $tablet-max-width) {
    max-width: 100%;
    margin: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    align-items: center;
    max-width: 57%;
    margin: 0 auto;
  }
}

.promo__wrapper-title {
  @media (max-width: $mobile-max-width) {
    padding: 0 16px;
    padding-top: 82px;
    padding-bottom: 52px;
    margin-bottom: 20px;
    background: url("../../img/greece-background-mobile@1x.jpg") no-repeat #92b3dc;
  }
}

.promo__title {
  @include reset-indent;
  padding-bottom: 30px;
  font-size: 55px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -1px;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-bottom: 16px;
    font-size: 30px;
    line-height: 45px;
  }
}

.promo__wrapper-description {
  @media (max-width: $mobile-max-width) {
    padding: 0 16px;
  }
}

.promo__description {
  @include reset-indent;
  max-width: 85%;
  padding-bottom: 33px;
  line-height: 27px;
  letter-spacing: -0.47px;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 19px;
    max-width: 100%;
    color: $color-granite;
  }

  @media (max-width: $tablet-max-width) {
    font-size: 16px;
    text-align: center;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    max-width: 100%;
    padding-bottom: 9px;
  }
}

.promo__wrapper-button {
  // padding-right: 135px;

  @media (max-width: $mobile-max-width) {
    padding-right: 103px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-right: 65px;
  }
}

