.site-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 37px;
  padding-bottom: 30px;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    padding: 0;
  }
}

.site-header__wrapper-menu {
  margin-right: auto;

  @media (max-width: $tablet-max-width) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 86px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-bottom: 82px;
  }
}

.site-header__logo {
  @media (max-width: $tablet-max-width) {
    padding-top: 16px;
    padding-left: 16px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-left: 20px;
  }
}

.site-header__button-menu {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: $color-coral;
    border: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding: 10px 21px;
    width: 72px;
    height: 50px;
  }
}

.site-header__nav {
  padding-top: 6px;
  margin-right: 56px;

  @media (max-width: $tablet-max-width) {
    @include reset-indent;
    padding-bottom: 288px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-bottom: 280px;
  }
}

.site-header__nav-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}

.site-header__nav-item {
  @media (min-width: $mobile-width) and (max-width: $tablet-max-width) {
    padding: 17px 16px;
    background-color: $color-gray;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.site-header__nav-item:not(:last-child) {
  padding-right: 41px;

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-right: 16px;
    margin-bottom: 30px;
  }
}

.site-header__nav-link {
  color: $color-black-blue;

  &:hover {
    color: $color-coral;
  }
}

.site-header__icon-arrow {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    display: block;
  }
}

.site-header__wrapper-tel {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 15px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

// .site-header__nav-tel {
//   padding-right: 15px;
// }
