.site-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 37px;
  padding-bottom: 30px;

  @media (max-width: $desktop-min-width) {
    flex-direction: column;
    padding: 0;
  }

  @media (min-width: $desktop-first) {
    justify-content: space-between;
  }
}

.site-header__wrapper-menu {
  margin-right: auto;

  @media (max-width: $desktop-min-width) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 86px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-min-width) {
    padding-bottom: 82px;
  }

  &--indent {
    padding-bottom: 0;
  }
}

.site-header__logo {
  @media (max-width: $desktop-min-width) {
    padding-top: 16px;
    padding-left: 16px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding-left: 20px;
  }
}

.site-header__button-menu {
  display: none;
  width: 50px;
  height: 50px;
  border: none;

  @media (max-width: $desktop-min-width) {
    &--open {
      display: flex;
      background: url("../img/icon-menu-open.svg") no-repeat $color-coral 50% 50%;
    }

    &--close {
      background: url("../../img/icon-menu-close.svg") no-repeat transparent 50% 50%;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    padding: 10px 21px;
    width: 72px;
    height: 50px;
  }
}

.site-header__nav {
  padding-top: 6px;
  margin-right: 56px;

  @media (max-width: $desktop-min-width) {
    @include reset-indent;
    padding-bottom: 286px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-min-width) {
    padding-bottom: 285px;
  }

  &--hide {
    display: none;
  }
}

.site-header__nav-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  @media (min-width: $mobile-width) and (max-width: $desktop-min-width) {
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}

.site-header__nav-item {
  &:not(:last-child) {
    padding-right: 41px;

    @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
      padding-right: 0;
      margin-bottom: 32px;
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-min-width) {
      padding-right: 0;
      margin-bottom: 30px;
    }
  }
}

.site-header__nav-link {
  position: relative;
  color: $color-black-blue;

  @media (max-width: $desktop-min-width) {
    display: block;
    padding: 17px 50px 17px 16px;
    background-color: $color-gray;

    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 16px;
      width: 25px;
      height: 25px;
      background: url("../../img/icon-arrow-right.svg") no-repeat;
    }
  }

  &:hover {
    color: $color-coral;
  }

  @media (min-width: $mobile-width) and (max-width: $mobile-max-width) {
    padding-top: 18px;
    padding-bottom: 14px;
  }
}

.site-header__icon-arrow {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    display: block;
  }
}

.site-header__wrapper-tel {
  display: flex;
  flex-wrap: nowrap;
  // padding-right: 15px;

  @media (max-width: $desktop-min-width) {
    display: none;
  }
}
