.site-footer {
  padding-top: 40px;
  padding-bottom: 48px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 49px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 0;
    padding-bottom: 27px;
  }
}

.site-footer__list {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 11px;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    padding-left: 0;
  }
}

.site-footer__item {
  &--group {
    display: flex;
    width: 806px;
    border-right: 1px solid #d7d9df;

    @media (max-width: $tablet-max-width) {
      width: 100%;
      margin-bottom: 31px;
      padding-bottom: 26px;
      border-right: none;
      border-bottom: 1px solid #d7d9df;
    }

    @media (max-width: $mobile-max-width) {
      flex-direction: column;
      margin-bottom: 26px;
      padding-bottom: 0;
    }
  }

  &--travel {
    padding-left: 44px;

    @media (max-width: $tablet-max-width) {
      padding-left: 0;
    }
  }

  @media (max-width: $mobile-max-width) {
    text-align: center;
  }
}

.site-footer__group {
  &--countries {
    width: 393px;
    border-right: 1px solid #d7d9df;

    @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
      width: 55%;
    }

    @media (max-width: $mobile-max-width) {
      width: 100%;
      border-right: none;
    }
  }

  &--contacts {
    width: 390px;
    padding-left: 88px;

    @media (max-width: $tablet-max-width) {
      padding-left: 55px;
      width: 40%;
    }

    @media (max-width: $mobile-max-width) {
      padding-left: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.site-footer__title {
  @include reset-indent;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $color-black-blue;

  &--countries {
    padding-bottom: 22px;
  }

  &--contacts {
    padding-bottom: 15px;

    @media (max-width: $tablet-max-width) {
      padding-bottom: 17px;
    }

    @media (max-width: $mobile-max-width) {
      padding-bottom: 14px;
    }
  }

  &--travel {
    padding-bottom: 22px;

    @media (max-width: $tablet-max-width) {
      text-align: center;
    }
  }

  @media (max-width: $mobile-max-width), (min-width: $desktop-first) and (max-width: $tablet-max-width) {
    text-align: center;
  }
}

.site-footer__wrapper-countries {
  display: flex;

  @media (max-width: $mobile-max-width) {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d9df;
  }

  @media (min-width: $desktop-first) and (max-width: $tablet-max-width) {
    justify-content: center;
  }
}

.site-footer__countries-list,
.site-footer__travel {
  font-size: 14px;
  color: rgba($color-black-blue, 0.5);
}

.site-footer__countries-list,
.site-footer__contacts {
  @include reset-list;
}

.site-footer__contacts {
  @media (min-width: $desktop-first) and (max-width: $tablet-max-width) {
    text-align: center;
  }
}

.site-footer__countries-list {
  line-height: 17px;

  &:not(:last-child) {
    padding-right: 50px;

    @media (max-width: $mobile-max-width) {
      padding-right: 0;
      padding-bottom: 20px;
    }
  }

  @media (max-width: $mobile-max-width) {
    margin: 0 auto;
    width: 50%;
  }
}

.site-footer__travel {
  @include reset-indent;
  padding-right: 5px;
  line-height: 24px;

  @media (max-width: $tablet-max-width) {
    padding-right: 0;
    text-align: center;
  }
}


.site-footer__contacts-item {
  justify-content: center;

  &--mail {
    padding-bottom: 17px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 16px;
  }
}

.site-footer__contacts-mail {
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: $color-coral;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.site-footer__contacts-mail--postoffice {
  display: none;

  @media (max-width: $tablet-max-width) {
    position: relative;
  }

  @media (max-width: $tablet-max-width) {
    display: inline-block;
    padding-left: 36px;
  }
}

.site-footer__icon-mail {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;

  @media (max-width: $tablet-max-width) {
    top: -3px;
    left: -7px;
  }
}

.site-footer__countries-item {
  &:not(:last-child) {
    padding-bottom: 10px;
  }
}
