.tel__icon {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 30px;
  height: 30px;
  // margin-right: 8px;
  fill: none;

  &--header {
    top: 0;
    left: -5px;
  }

  &--black {
    top: -4px;
    left: -30px;

    @media (max-width: $tablet-max-width) {
      display: none;
    }
  }

  &--footer {
    top: -8px;
    left: 0;

    @media (max-width: $tablet-max-width) {
      left: -10px;
    }
  }
}

.tel__number {
  position: relative;
  padding-left: 33px;
  font-size: 18px;
  line-height: 32px;
  color: $color-coral;
  text-decoration: underline;

  @media (max-width: $tablet-max-width) {
    padding-left: 0;
  }

  &--small {
    font-size: 16px;
  }

  &--footer {
    padding-left: 33px;
  }
}

.tel__number--black {
  // padding-left: 10px;
  font-size: 20px;
  color: $color-black;
  text-decoration: none;

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    color: $color-coral;
    text-decoration: underline;
  }
}
