// ----INDEX-----------------------------------

// body {
//   background: url("../img/pixel-perfect-mobile-menu.jpg") no-repeat;
//   min-height: 7760px;
//   opacity: 0.2;
// }

@media (min-width: $tablet-width) {
  body {
    background: url("../img/pixel-perfect-tablet-blue.jpg") no-repeat;
    // background: url("../img/pixel-perfect-tablet-yellow.jpg") no-repeat;
    min-height: 4977px;
    opacity: 0.2;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: url("../img/pixel-perfect-desktop-yellow.jpg") no-repeat;
    min-height: 5212px;
    opacity: 0.2;
  }
}

// ----MODAL-----------------------------------


// body {
//   background: url("../img/mishka-modal-mobile.jpg") no-repeat;
//   min-height: 3932px;
//   opacity: 0.2;
// }

// @media (min-width: $tablet-width) {
//   body {
//     background: url("../img/mishka-modal-tablet.jpg") no-repeat 50% 0;
//     min-height: 3710px;
//     opacity: 0.2;
//   }
// }

// @media (min-width: $desktop-width) {
//   body {
//     background: url("../img/mishka-modal-desktop.jpg") no-repeat 50% 0;
//     min-height: 3623px;
//     opacity: 0.2;
//   }
// }
