$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1919px;
$desktop-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-white: #ffffff;
$color-black: #000000;
$color-coral: #fe7865;
$color-orange: #f17d4b;
$color-black-blue: #141517;
$color-granite: #2c2e3f;
$color-gray: #fbf8f8;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
